<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading"> My Space </p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<h5><b> <%= current_user.name %> </b></h5>
							<small> <%= current_user.username %> </small>
						</p>
					</div>
				</div>
			</article>
		</div>

		<div class="panel-block">
			<div class="level is-mobile">
				
				<div class="level-item has-centered-text">
					<div>
						<p class="heading"> Posts </p>
						<p class="title is-6"> <%= current_user.tweeets.count %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				
				<div class="level-item has-centered-text">
					<div>
						<p class="heading"> Email ID </p>
						<p class="title is-6"> <%= current_user.email %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				
				<div class="level-item has-centered-text">
					<div>
						<p class="heading"> Team Name </p>
						<p class="title is-6"> IT Strategy Team </p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-block">
			<div class="level is-mobile">
				
				<div class="level-item has-centered-text">
					<div>
						<p class="heading"> My interests </p>
						<p class="title is-6"> Volleyball </p>
						<p class="title is-6"> Video games </p>
						<p class="title is-6"> Beaches </p>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>